<div class="container-fluid header">

  <particles [params]="particleParams" [style]="particleStyles" [width]="100"></particles>

  <div class="row">
      <div class="col">
        <a href="https://github.com/ajjack5" target="_blank">
          <img width="48px" alt="Github" src="assets/icons/github.png">
        </a>
        <a href="https://www.linkedin.com/in/andrew-jack-78570a14a/" target="_blank">
          <img width="48px" alt="Linkedin" src="assets/icons/linkedin.png">
        </a>
        <a href="https://trello.com/b/Fy6sOPMH/dev-plan-2019-2020" target="_blank">
          <img width="48px" alt="Trello" src="assets/icons/trello.png">
        </a>
      </div>
    </div>

  <div class="row p-5">
    <div class="col align-self-center text-center">
      <img class="rounded-image" alt="Profile Image" src="assets/profileimg.JPG">
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center text-center">
      <h1>G'day.</h1>
      <h2>I'm Andrew</h2>
      <p>A SOFTWARE ENGINEER & ACTING DEVELOPMENT MANAGER</p>
      <p>FROM AUSTRALIA</p>
    </div>
  </div>

</div>