<div class="container" *ngFor="let project of projects">
  <div class="row p-3" >

    <div class="col-sm">
      <p>{{ project.title }} <a *ngIf="project.url" href="{{ project.url }}" target="_blank">Project URL</a></p>
      <img class="project__image" [src]="project.imageLink">
    </div>

    <div class="col-sm">
      <p>Description:</p>
      <ul>
        <li *ngFor="let description of project.description">{{ description }}</li>
      </ul>
      <p>Project Skills:</p>
      <ul>
        <li *ngFor="let skill of project.projectSkills">{{ skill }}</li>
      </ul>
    </div>

  </div>
  <hr class="border">
</div>