$tab-background: rgb(10, 10, 10);
$primary: #44b4cd;

.tab:hover {
    cursor: pointer;
}

.tab {
    height: 45px;
    width: 50%;
    background: $tab-background;
    border-color: $primary;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: none;
    border-width: 1px;

    border-top-right-radius:6px;
    border-top-left-radius:6px;

    &__selected__professional-projects {
        border-top:1px solid $tab-background;
        position: relative;
    }

    &__selected__professional-projects:after {
        content: "";
        width:50%;
        height:1.1px;
        background-color:$primary;
        position: absolute;
        right:0;
        top:-1px;
    }

    &__selected__projects {
        border-top:1px solid $tab-background;
        position: relative;
    }

    &__selected__projects:after {
        content: "";
        width:50%;
        height:1.1px;
        background-color:$primary;
        position: absolute;
        right:50%;
        top:-1px;
    }
}

.content {
    background: $tab-background;

    border-color: #44b4cd;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: none;
    border-bottom-style: solid;
    border-width: 1px;

    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
}