<div class="container">
  <div class="row">
    <div class="tab" (click)="setSelected(0)">
      <p class="text-center">
        SKILLSETS
      </p>
    </div>
    <div class="tab" (click)="setSelected(1)">
      <p class="text-center">
        PROJECTS
      </p>
    </div>
  </div>

  <div class="row content" *ngIf="selected === 0" [ngClass]="{'tab__selected__skillsets' : selected !== 1}">
    <app-skillsets class="w-100"></app-skillsets>
  </div>
  <div class="row content" *ngIf="selected === 1" [ngClass]="{'tab__selected__projects' : selected !== 0}">
    <app-projects class="w-100"></app-projects>
  </div>

</div>